

%sweep-btn{
    display:inline-block;
    position:relative;
    cursor:pointer;
    background:#cce8ea;  
    color:$brand-color; 
    z-index:0;
    padding:12px 30px;
    text-transform:uppercase;
    border-radius:50px;
    overflow:hidden;

     @include breakpoint(sm){                     
        padding:12px 20px;
    }
    @include breakpoint(md){                     
        padding:12px 20px;
    } 

    &:before {
        content: "";
        position: absolute;
        z-index:-1;
        top: 0;  
        left: 0;  
        right: 0;  
        bottom: 0;
        background: $brand-color;
        color:$white-color; 
         border-radius:50px;       
        @include transform(scaleX(0));
        @include transition(transform .4s ease-out);
    }
    &:hover{
        color:$white-color;
    }

    &:hover:before{
        @include transform(scaleX(1));
        color:$white-color; 
    }  
}


.sweep-btn--right{
    @extend %sweep-btn;
     &:before { 
        transform-origin: 100% 50%;
        
    }
}

.sweep-btn--left{
    @extend %sweep-btn;
     &:before { 
        transform-origin: 100% 50%;
    }
}

.sweep-btn--center{
    @extend %sweep-btn;
     &:before { 
        transform-origin: 50% 50%;
    }
}




.link__button{
  position: relative;
  padding: 19px 24px;
  width: fit-content;
  transition: all .2s ease;

  &:before{
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba($brand-color,.2);
    width: 56px;
    height: 56px;
    transition: all .5s ease;
  }
  span{
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    vertical-align: middle;
    color:$white-color;
  }
  svg{
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: $white-color;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all .5s ease;
  }
  &:hover{
    &:before{
      width: 100%;
      background: rgba($brand-color,1);
    }
    svg{
      transform: translateX(0);
    }
    &:active{
      transform: scale(.96);
    }
  }
}


/* hover styles */
.sliding-underline-link {
    position: relative;
     &:before {
        content:'';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -2px;
        left: 0;
        background-color:#0a2032;
        transform-origin: bottom center;

    }
    &:after {
        content:'';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -2px;
        left: 0;
        background-color: $brand-color;
        transform-origin: bottom center;        
        @include transition(transform 0.4s);
        @include transform(scaleX(0));
    }
    &:hover {
        &:after {
            transform-origin: bottom center;
            @include transform(scaleX(1));
        }
    }
}


.text-reveal {
    position: relative;
    overflow: hidden;
    margin-right: 2px;
    width:fit-content;
   
    h1 {
      animation: fadeIn 0s 0.6s;
      text-align:center;
      margin: 0;
      animation-fill-mode: backwards;
    }

    &::after {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      width:fit-content;
      height: 100%;
      width: 100%;
      background: $white-color;
      transform: translateX(-100%);
      animation: secondaryImageOverlayIn 0.6s 0s, secondaryImageOverlayOut 0.6s 0.6s;
      animation-fill-mode: both;
    }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
@keyframes secondaryImageOverlayIn {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
}
@keyframes secondaryImageOverlayOut {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
}

