// colors
$brand-color: #f83600; // green brand color
$brand-second-color: #a37e42; // yellow brand color
$brand-third-color: #011627; // dark grey color


$black-color: #000; // black color
$white-color: #fff; // white color
$light-grey-color: #918f8f; // light grey


// fonts en
$font-primary-en:'Orbitron', sans-serif;
$font-secondary-en:'Ubuntu', sans-serif;



@mixin orange-gradient {
    background: -webkit-linear-gradient(to top, #f83600, #fe8c00);  
    background: linear-gradient(to top, #f83600, #fe8c00);
}










