<div id="full-screen-menu">
  <div class="button_container cursor-link" id="toggle">
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span>
  </div>


  <div class="overlay" id="overlay">
    <nav class="overlay-menu">
      <ul>
        <li>
          <a routerLink='about'  class="cursor-link" routerLinkActive='nav-active-link' data-hover="about">  about</a>
        </li>
        <li><a routerLink='skills' class="cursor-link" routerLinkActive='nav-active-link' data-hover="Skills">
          Skills</a></li>
        <li><a routerLink='portfolio' class="cursor-link" routerLinkActive='nav-active-link' data-hover="Portfolio"> Portfolio</a></li>
        <li><a  routerLink='resume' class="cursor-link" routerLinkActive='nav-active-link' data-hover="Resume">
            Resume</a></li>
        <li><a  routerLink='contact' class="cursor-link" routerLinkActive='nav-active-link' data-hover="Contact">

         Contact</a></li>

      </ul>
    </nav>
  </div>
</div>


<!-- <a routerLink='articles' class="sliding-underline-link articles-link cursor-link">Articles</a> -->



