@import
  '../../../assets/scss/variables',
  '../../../assets/scss/mixins',  
  '../../../assets/scss/layout',
  '../../../assets/scss/ui-elements';


#full-screen-menu{
  .button_container {
    position: fixed;
    top: 5%;
    right: 2%;
    height: 55px;
    width: 55px;
    cursor: pointer;
    z-index: 10000;    
    border-radius:50%;
    background: $white-color;

    opacity:0;
    animation: fadeInDown .8s ease forwards;
    animation-delay: .4s;
    @include transition(all .5s ease);

    @include breakpoint(sm){
      top: 3%;
      right: 5%;
    }
    
    &:hover {
      background: $white-color;
      span{
        background:$brand-third-color;

        &:nth-of-type(2) {
          width: 50%;
        }
      }
      &.active {
        background: $white-color;
      }
    }
    
    &.active {
      .top {
        transform: translateY(7px) translateX(0) rotate(45deg);
        background: $brand-third-color;
      }
      .middle {
        opacity: 0;
        background: $brand-third-color;
      }
      
      .bottom {
        transform: translateY(-5px) translateX(0) rotate(-45deg);
        background:$brand-third-color;
      }
    }
    
    span {
      background: $brand-third-color;
      border: none;
      height: 2px;
      width: 50%;
      position: absolute;
      top: 20px;
      left: 13px;
      transition:  all .35s ease;
      cursor: pointer;

      
      &:nth-of-type(2) {
        top: 26px;
        width: 30%;
      }
    
      &:nth-of-type(3) {
        top: 32px;
      }
    }
  }


  .overlay {
    position: fixed;
    background: $brand-third-color;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    z-index:1111;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    
    &.open {
      opacity: 10;
      visibility: visible;
      height: 100%;
      
      li {
       
        animation: fadeInUp 1.2s ease forwards;
        animation-delay: .35s;
        
        &:nth-of-type(2) {
          animation-delay: .45s;
        }
        &:nth-of-type(3) {
          animation-delay: .55s;
        }
        &:nth-of-type(4) {
          animation-delay: .65s;
        }
        &:nth-of-type(5) {
          animation-delay: .75s;
        }
      }
    }
    nav {
      position: relative;
      height: 100%;
      top: 50%;
      transform: translateY(-50%);
      font-size: 50px;
      font-weight: 400;
      text-align: center;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: inline-block;
      position: relative;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; 
      flex-direction:column;

      li {
        display: block;
        position: relative;
        opacity: 0;


        a {
          display: block;
          position: relative;          
          text-decoration: none;
          overflow: hidden;
          width:100%;
          padding:10px 0;
          font-size:60px;
          font-weight:900;
          text-transform:capitalize;
           -webkit-text-stroke-width: 1px;
          color: transparent;
          -webkit-text-stroke-color: $white-color;
         /*  border-left:1px solid rgba($white-color, 0.1); */

          &:before{
            position:absolute;
            overflow: hidden;
            content: attr(data-hover);
            max-width:0;
            top:10px;
            left:0;
            color: $white-color;
            -webkit-transition: max-width 0.7s;
            -moz-transition: max-width 0.7s;
            transition: max-width 0.7s;
           
          }

          @include breakpoint(sm){
            font-size:50px;
          }

          &:hover{
            &:before{
              max-width:100%;
              
            }
          }
  
        
          /* &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0%;
            transform: translateX(-50%);
            height: 3px;
            background: $white-color;
            transition: .35s;
          } */

          /* &.nav-active-link{
            color:$white-color !important;     
            @include orange-gradient; 
          } */


        }
      }
    }
  }
}


.articles-link{
  position:absolute;
  right:120px;
  color:$white-color;
  z-index: 999;
  top:60px;
  text-transform:uppercase;

}






.main-header {
    nav{   	
    	&.navbar{
        background:none;
        padding:40px 0 0 0;
        opacity:0;
        animation: fadeInDown .8s ease forwards;
        animation-delay: .5s;
        @include transition(all .5s ease);

        @include breakpoint(sm){  
          padding:0;
          .nav-item{
            padding-bottom:12px;
          }
        }
    	}

      @include breakpoint(sm){  
        .navbar-toggler {
            background:$brand-color;
            border: 1px solid $brand-color;
            border-radius:0;
            margin:15px;
            color:$white-color;
        }
      }
      .navbar-collapse{       
        @include breakpoint(sm){  
          background:#f9f6f2;
          padding:20px; 
          box-shadow: 2px 2px 2px rgba($black-color, 0.2);          
        }
      }

      .navbar-nav{
        margin-left:auto !important;    
        .nav-link{
          font-size:20px;
          text-transform:uppercase;        
          color:$white-color !important;
          padding:0 0 2px 0 !important;
          margin-right:45px;
          overflow:hidden;

          @include breakpoint(lp){ 
            font-size:16px; 
          }

          span {
            position: relative;
            display: inline-block;
            @include transition(.3s);
            &::before {
              color:$brand-color;
              position: absolute;
              top: 100%;
              content: attr(data-hover);
              @include transform(translate3d(0,0,0));
            }
          }
          &:hover{
            span{
              @include transform(translateY(-100%));
            }
          }
          &.active{
            color:$brand-color !important;
          }
          &.nav-active-link{
            color:$brand-color !important;
          }
        }
      }

     
	}	

}

