<section class="section about-section">
  <div class="title-head wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.1s">
    <p>I am</p>
    <h1 class="title-head__title">Front End <span class="title-head__title-gradient">Developer</span></h1>        
  </div>

  <div class="bio">

    <div class="animated-text">
    <!--   <div class="title-anim-1">
        <span>Born in</span>
      </div>
      <br>

      <div class="title-anim-1bis">
        <span>Pakistan</span>
      </div>
      <br>
      <div class="title-anim-2">
        <span>Living and <br>Working in </span>
      </div>
      <div class="title-anim-2bis">
        <span>Dubai</span>
      </div> -->
      
      <div class="wow fadeIn"  data-wow-duration="3s" data-wow-delay=".9s">
       <!--  <p>
          Currently full-time Front-end Developer at Spica Software. I love building UI/UX design experiences that improve user's everyday life also convert the design into responsive HTML5/CSS3 that I call PSD to HTML Development. I am always hungry for new challenges and innovations. 
        </p> -->

        <p>Having 6+ years experience with deep knowledge and proficiency in 
            JavaScript, HTML5, CSS3,SASS, and mobile responsive website development as well as one year hand on experience in 
            Angular 6+ app.</p>

        <p>Self-motivated with strong Front-end Development skills with Bachelor’s Degree in Computer Science looking for the position of Front-end Developer in an exciting and growing company. </p>

        <!-- <h2>Experience:</h2>
        <h3>I am privileged to say that I have had some great working experience.</h3>

        <ul class="list-group">
          <li class="list-group__list-item">
            <span class="italic">2017 - present</span>
            <span>Spica Software</span> </li>
          <li class="list-group__list-item">
            <span class="italic">2016 - 2017</span>
            <span>GoodHope General Trading</span> </li>
          <li class="list-group__list-item">
            <span class="italic">2014 - 2016</span>
            <span>Putitout</span></li>
          <li class="list-group__list-item">
            <span class="italic">2012 - 2014</span>
            <span>Smartrix Technology</span> </li>
          <li class="list-group__list-item">
            <span class="italic">2011 - 2012</span>
            <span>4dee Technology</span></li>
        </ul> -->

        <a routerLink='/skills' class="link__button cursor-link">
          <span>Check my skills</span>
          <svg width="13px" height="10px" viewBox="0 0 13 10">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
          </svg>
        </a>
        
      </div>

    </div>

    <figure class="image-reveal">
      <img src="assets/images/personal.jpg">
    </figure>
  </div>
       <!-- <h2 class="about-section__title wow fadeInUp">
        	Born in <span class="about-section__title-gradient">Pakistan</span>,<br> living and<br> working in 
        	<span class="about-section__title-gradient">Dubai</span>.
         
        </h2> -->
</section>