@import
  '../../assets/scss/variables',
  '../../assets/scss/mixins',  
  '../../assets/scss/layout',
  '../../assets/scss/ui-elements';


.about-section{
  .title-head{
    &__title{
      color:$white-color;
      font-size:55px;
      margin-bottom:45px;

      @include breakpoint(sm){
        font-size:35px;
      }
    }

    &__title-gradient{  
      font-weight: 700;
      @include orange-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; 
    }
    p{
      color:$white-color;
      font-size:15px;
    }
  }

  .bio{
    display:flex;
    @include breakpoint(sm){
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }
  }

  .animated-text{
    margin-bottom:50px;
    width:70%;

    @include breakpoint(sm){
      width:100%;
    }

    p{
      color:$white-color;
      font-size:18px;
      line-height:34px;
      margin-top:50px;
      padding-right:50px;
      margin-bottom:60px;



      @include breakpoint(sm){
        padding-right:0;
        font-size:18px;
        font-weight:400;
        line-height: 36px;
        margin-top:20px;
      }

    }
    h2{
      color:$white-color;
      font-size:22px;
      margin-bottom:20px;
    }
    h3{
      color:$white-color;
      font-size:16px;
      margin-bottom:30px;
      font-weight:400;
    }
    .list-group{
      margin-bottom:60px;
      &__list-item{
        color:$white-color;
        font-size:14px;
        margin-bottom:30px;
        font-weight:400;
        position:relative;
        padding-left:25px;

        @include breakpoint(sm){
          margin-bottom:25px;
        }

        span{          
          font-weight:500;
          font-size:18px;

          @include breakpoint(sm){
            font-size:16px;
            display:block;
          }
        }

        .italic{
          font-weight:400;
          font-size:14px;
          margin-left:0;
          display:block;        
          color:$brand-color;
        }

        &:before{
          position:absolute;
          content:'';
          left:0;
          top:9px;
          background:$white-color;
          height:6px;
          width:6px;
          border-radius:50%;
        }
      }
    }
    
    
  }

  .title-anim {
    position: relative;
    display: inline-block;
    width: 300px;
    overflow: hidden;
    span {
      position: absolute;     
      color:$white-color;
      font-size:55px;

      @include breakpoint(sm){
        font-size:45px;
      }

    }
  }

  .title-anim-1 {
    @extend .title-anim;
    height: 50px;

    @include breakpoint(sm){
      height:45px;
    }

    span {
      top: 100%;
      font-weight: 300;
      font-size:40px;
      animation: .4s titleAnim 1s ease forwards;

      @include breakpoint(sm){
        font-size:35px;
      }
    }
  }
  .title-anim-1bis {
    height: 100px;


    @include breakpoint(sm){
      height: 80px;
    }

    @extend .title-anim;
    span {
      top: -100%;
      font-weight: 700;
       @include orange-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; 
      animation: .4s titleAnim 1.7s ease forwards;
    }
  }
  .title-anim-2 {
    @extend .title-anim;
    height: 115px;
    width: 275px;
    left: 80px;
    animation: .4s titleAnim-second 3.9s ease forwards;

    @include breakpoint(sm){
      height: 90px;
    }
    span {
      top: 100%;
      font-weight: 300;
      font-size:40px;
      animation: .4s titleAnim 3s ease forwards;

      @include breakpoint(sm){
        font-size:30px;
      }
    }
  }

  .title-anim-2bis {
    @extend .title-anim;
    height: 70px;
    width: 200px;
    span {
      top: 0;
      left: -100%;
      font-weight: 700;
       @include orange-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
      animation: .4s titleAnim-second 4.1s ease forwards;
    }
  }
  @keyframes titleAnim {
    100% {
      top: 0;
    }
  }

  @keyframes titleAnim-second {
    100% {
      left: 0;
    }
  }

  .image-reveal {
    position: relative;
    overflow: hidden;
    width:30%;
    margin-right: 1px;

    @include breakpoint(sm){
      width:100%;
      margin-bottom:40px;
    }

    img {
      animation: fadeIn 0s 0.6s;
      width:100%;
      box-shadow: 0px 5px 30px rgba($black-color,0.8);
      animation-fill-mode: backwards;
    }
    
    &::after {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: $brand-color;
      transform: translateX(-100%);
      animation: secondaryImageOverlayIn 0.6s 0s, secondaryImageOverlayOut 0.6s 0.6s;
      animation-fill-mode: both;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes secondaryImageOverlayIn {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes secondaryImageOverlayOut {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }



}



