      <section class="section">
        <div class="articles" id="articles">
          <div class="text-reveal">
            <h1>Code tag is not working in angular html template</h1>
          </div>


<pre data="CSS" class=" language-css">
	<code class="language-css">
		{{
			"
	button:before{
		content: attr(data-hover);
		position: absolute;
		top: 1.1em; left: 0;
		width: 100%;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-weight: 800;
		font-size: .8em;
		opacity: 0;
		transform: translate(-100%,0);
		transition: all .3s ease-in-out;
	}
			"
		}}
	</code>
</pre>

<pre data="HTML" class="language-markup">
	<code class="language-markup">
&lt;button data-hover="click me!"&gt;
&lt;div&gt;Hover me!&lt;/div&gt;
&lt;/button&gt;
	</code>
</pre>

<pre data="HTML" class="language-markup">
	<code class="language-markup">
		{{
			"
	onActivate(event) {
	    let scrollToTop = window.setInterval(() => {
	      let pos = window.pageYOffset;
	      if (pos > 0) {
	        window.scrollTo(0, pos - 50); // how far to scroll on each step
	      } else {
	        window.clearInterval(scrollToTop);
	      }
	    }, 16);
	 }

			"
		}}
	</code>
</pre>


        </div>
      </section>
