@import "../../assets/scss/variables", "../../assets/scss/mixins", "../../assets/scss/layout",
  "../../assets/scss/ui-elements";

.contact-head {
  &__title {
    color: $white-color;
    font-weight: 700;
    font-size: 200px;
    line-height: 160px;
    text-align: center;
    margin-bottom: 0;

    @include breakpoint(sm) {
      font-size: 100px;
      line-height: 80px;
    }
  }
  &__sub-title {
    color: $white-color;
    font-weight: 400;
    font-size: 25px;
    padding: 0;
    line-height: 35px;
    margin: 0 0 100px 0;

    @include breakpoint(sm) {
      font-size: 20px;
      padding: 0px;
      margin: 50px 0;
    }
  }
}

.contact-wraper {
  text-align: center;
  span {
    color: $white-color;
    font-size: 16px;
    display: block;
    font-weight: 400;
    margin-bottom: 10px;
  }
  p {
    color: $white-color;
    font-size: 16px;
    font-weight: 400;
  }
  .phone {
    margin-bottom: 50px;
  }
  .location {
    margin-bottom: 50px;
  }
  .email {
    margin-bottom: 50px;
    a {
      color: $white-color;
      font-size: 16px;
    }
  }
  .linkedin {
    a {
      img{
        width: 2em;
        height: 2em;
        display: block;
        margin:0 auto 15px;

      }

      color: $white-color;
      font-size: 16px;
    }
  }

}
.svg-icon {
  width: 2em;
  height: 2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #fff;
}

.svg-icon circle {
  stroke: #fff;
  stroke-width: 1;
}

.map-area {
  position: relative;

  iframe {
    height: 450px;
  }

  @include breakpoint(sm) {
    height: 450px;
  }
  .location-pin {
    position: absolute;
    left: 54%;
    top: 30%;

    @include breakpoint(sm) {
      left: 64%;
    }
  }
  .pin {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0;
    background: $brand-color;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
    /* 		animation-name: bounce;
		animation-fill-mode: both;
		animation-duration: 1s; */
    -webkit-animation: arrowMove 0.8s linear infinite;

    &:after {
      content: "";
      width: 14px;
      height: 14px;
      top: 9px;
      left: 8px;
      background: #2f2f2f;
      position: absolute;
      border-radius: 50%;
    }
  }
  .pulse {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    height: 14px;
    width: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 11px 0px 0px -12px;
    transform: rotateX(55deg);
    z-index: 2;

    &:after {
      content: "";
      border-radius: 50%;
      height: 40px;
      width: 40px;
      position: absolute;
      margin: -16px 0 0 -19px;
      animation: pulsate 1s ease-out;
      animation-iteration-count: infinite;
      opacity: 0;
      box-shadow: 0 0 1px 2px $brand-color;
      animation-delay: 1.1s;
    }
  }
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

/* @keyframes bounce{
	0%{
		opacity: 0;
		transform: translateY(30px) rotate(-45deg);	
		top: 0%;
	}
	60%{
		opacity: 1;
		transform:translateY(30px) rotate(-45deg);
		top: -10px;
	}
	80%{
		 transform: translateY(-10px) rotate(-45deg);
	}
	100%{
		transform: translateY(0) rotate(-45deg);
		top: 0%;
	}

} */

@keyframes arrowMove {
  0% {
    top: 0%;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0%;
  }
}
