<section class="section">
<!-- 	<div class="is-animated__single">
	  <h1 class="wow fadeInLeft" data-wow-duration="3s" data-wow-delay="0.3s">Contact</h1>  
	</div> -->

	<div class="contact-head">

		<div class="text-reveal">
		  <h1 class="contact-head__title">hello.</h1>
		</div>
		<!-- <h1 class="contact-head__title wow fadeInDown">hello.</h1> -->
		<h2 class="contact-head__sub-title wow fadeInDown">
			Want to know me? Ask me some questions? <br>I'll be happy to answer you.
		</h2>
	</div>



	<div class="contact-wraper">
		<div class="row d-flex justify-content-center">

			<div class="col-md-6 wow fadeIn" data-wow-duration="3s" data-wow-delay="0.4s"> 
				<div class="phone">
					<span>
						<svg class="svg-icon" viewBox="0 0 20 20">
							<path fill="none" d="M10,15.654c-0.417,0-0.754,0.338-0.754,0.754S9.583,17.162,10,17.162s0.754-0.338,0.754-0.754S10.417,15.654,10,15.654z M14.523,1.33H5.477c-0.833,0-1.508,0.675-1.508,1.508v14.324c0,0.833,0.675,1.508,1.508,1.508h9.047c0.833,0,1.508-0.675,1.508-1.508V2.838C16.031,2.005,15.356,1.33,14.523,1.33z M15.277,17.162c0,0.416-0.338,0.754-0.754,0.754H5.477c-0.417,0-0.754-0.338-0.754-0.754V2.838c0-0.417,0.337-0.754,0.754-0.754h9.047c0.416,0,0.754,0.337,0.754,0.754V17.162zM13.77,2.838H6.23c-0.417,0-0.754,0.337-0.754,0.754v10.555c0,0.416,0.337,0.754,0.754,0.754h7.539c0.416,0,0.754-0.338,0.754-0.754V3.592C14.523,3.175,14.186,2.838,13.77,2.838z M13.77,13.77c0,0.208-0.169,0.377-0.377,0.377H6.607c-0.208,0-0.377-0.169-0.377-0.377V3.969c0-0.208,0.169-0.377,0.377-0.377h6.785c0.208,0,0.377,0.169,0.377,0.377V13.77z"></path>
						</svg>
						
					</span>
					<p>+971 55 1234 780</p>
				</div>
			</div>
			<div class="col-md-6 wow fadeIn" data-wow-duration="3s" data-wow-delay="0.6s">
				<div class="email">
					<span>
						<svg class="svg-icon" viewBox="0 0 20 20">
							<path fill="none" d="M17.051,3.302H2.949c-0.866,0-1.567,0.702-1.567,1.567v10.184c0,0.865,0.701,1.568,1.567,1.568h14.102c0.865,0,1.566-0.703,1.566-1.568V4.869C18.617,4.003,17.916,3.302,17.051,3.302z M17.834,15.053c0,0.434-0.35,0.783-0.783,0.783H2.949c-0.433,0-0.784-0.35-0.784-0.783V4.869c0-0.433,0.351-0.784,0.784-0.784h14.102c0.434,0,0.783,0.351,0.783,0.784V15.053zM15.877,5.362L10,9.179L4.123,5.362C3.941,5.245,3.699,5.296,3.581,5.477C3.463,5.659,3.515,5.901,3.696,6.019L9.61,9.86C9.732,9.939,9.879,9.935,10,9.874c0.121,0.062,0.268,0.065,0.39-0.014l5.915-3.841c0.18-0.118,0.232-0.36,0.115-0.542C16.301,5.296,16.059,5.245,15.877,5.362z"></path>
						</svg>
					</span>
					<a href="mailto:faisalsaeed128@gmail.com" class="cursor-link">faisalsaeed128@gmail.com</a>
				</div>
			</div>

			<!-- <div class="col-md-4">
				<div class="email">
					<span></span>
					<a href=""></a>
				</div>
			</div> -->

			<div class="col-md-6 wow fadeIn" data-wow-duration="3s" data-wow-delay="0.8s">
				<div class="location">
					<span>
						<svg class="svg-icon" viewBox="0 0 20 20">
							<path d="M10,1.375c-3.17,0-5.75,2.548-5.75,5.682c0,6.685,5.259,11.276,5.483,11.469c0.152,0.132,0.382,0.132,0.534,0c0.224-0.193,5.481-4.784,5.483-11.469C15.75,3.923,13.171,1.375,10,1.375 M10,17.653c-1.064-1.024-4.929-5.127-4.929-10.596c0-2.68,2.212-4.861,4.929-4.861s4.929,2.181,4.929,4.861C14.927,12.518,11.063,16.627,10,17.653 M10,3.839c-1.815,0-3.286,1.47-3.286,3.286s1.47,3.286,3.286,3.286s3.286-1.47,3.286-3.286S11.815,3.839,10,3.839 M10,9.589c-1.359,0-2.464-1.105-2.464-2.464S8.641,4.661,10,4.661s2.464,1.105,2.464,2.464S11.359,9.589,10,9.589"></path>
						</svg>					
					</span>
					<p>Dubai, United Arab Emirates</p>
				</div>
			</div>

			<div class="col-md-6 wow fadeIn" data-wow-duration="3s" data-wow-delay="1s">
					<div class="linkedin">
						
						
						<a href="https://www.linkedin.com/in/faisalsaeed128/" target="_blank" class="cursor-link">
							
									<img src="assets/images/linkedin.svg">					
								
							Linkedin</a>
					</div>
				</div>

		</div>

		


		<!-- <div class="map-area">

			<div class="location-pin">
				<div class='pin'></div>
				<div class='pulse'></div>
			</div>

			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d462562.8478599594!2d54.947546376673124!3d25.075707330407372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f43496ad9c645%3A0xbde66e5084295162!2sDubai+-+United+Arab+Emirates!5e0!3m2!1sen!2sus!4v1548959278711" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div> -->

	</div>



</section>
