@import
  '../../assets/scss/variables',
  '../../assets/scss/mixins',  
  '../../assets/scss/layout',
  '../../assets/scss/ui-elements';

.error-page{
	text-align:center;
	color:$white-color;
	font-weight:400;
	padding-top:150px;
    h1{
    	font-size:150px;
    }
    h2{
    	font-size:40px;
    	margin-bottom:45px;
    }
    p{
    	font-size:22px;
    }
}