@import
  '../../assets/scss/variables',
  '../../assets/scss/mixins',  
  '../../assets/scss/layout',
  '../../assets/scss/ui-elements';

#skills{  
  .skill-box{
    .skill-title{
      margin-bottom:10px;
      color:$white-color;
      font-weight:300;
      font-size:14px;
      
    }
    .skillbar {
      position:relative;
      display:block;
      margin-bottom:35px;
      width:100%;
      background:none;
      border:2px solid $white-color;
      height:35px;
      @include border-radius(50px);
      @include transition(all .5s linear);

      -webkit-transition-property:width, background-color;
      -moz-transition-property:width, background-color;
      -ms-transition-property:width, background-color;
      -o-transition-property:width, background-color;
      transition-property:width, background-color;
    }
    .skillbar-bar {
  		height:31px;
  		width:0px;
  		@include border-radius(50px);
      @include orange-gradient;
  		
    }
    .skill-bar-percent {
  		position:absolute;
  		right:10px;
  		top:0;
  		font-size:11px;
  		height:30px;
  		line-height:30px;
  		color:$white-color !important;
  		color:rgba(0, 0, 0, 0.4);
    }
  }
}