      <section class="section">
        <div id="skills">
          <div class="text-reveal">
            <h1>Skills</h1>
          </div>


          <div class="row d-flex justify-content-center">
            <div class="col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
              <div class="skill-box">                
                <div class="skill-title">Angular 6+</div>
                <div class="skillbar  clearfix " data-percent="70%">
                  <div class="skillbar-bar"></div>
                  <div class="skill-bar-percent">70%</div>
                </div>                
              </div>              
            </div>


            <div class="col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
              <div class="skill-box">                
                <div class="skill-title">SASS</div>
                <div class="skillbar  clearfix " data-percent="90%">
                  <div class="skillbar-bar"></div>
                  <div class="skill-bar-percent">90%</div>
                </div>                
              </div>              
            </div>

            <div class="col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
              <div class="skill-box">                
                <div class="skill-title">Bootstrap 4.1</div>
                <div class="skillbar  clearfix " data-percent="95%">
                  <div class="skillbar-bar"></div>
                  <div class="skill-bar-percent">95%</div>
                </div>                
              </div>              
            </div>

            <div class="col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
              <div class="skill-box">                
                <div class="skill-title">Materialize CSS</div>
                <div class="skillbar  clearfix " data-percent="90%">
                  <div class="skillbar-bar"></div>
                  <div class="skill-bar-percent">90%</div>
                </div>                
              </div>              
            </div>

          
          	<div class="col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.2s">
              <div class="skill-box">                
                <div class="skill-title">HTML5</div>
                <div class="skillbar  clearfix " data-percent="85%">
                  <div class="skillbar-bar"></div>
                  <div class="skill-bar-percent">85%</div>
                </div>                
              </div>              
            </div>

            <div class="col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.4s">
              <div class="skill-box">                
                <div class="skill-title">CSS3 / Animation / Transition</div>
                <div class="skillbar  clearfix " data-percent="85%">
                  <div class="skillbar-bar"></div>
                  <div class="skill-bar-percent">85%</div>
                </div>                
              </div>              
            </div>

            <div class="col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.6s">
              <div class="skill-box">                
                <div class="skill-title">JQuery</div>
                <div class="skillbar  clearfix " data-percent="80%">
                  <div class="skillbar-bar"></div>
                  <div class="skill-bar-percent">80%</div>
                </div>                
              </div>              
            </div>    
            
            <div class="col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.8s">
              <div class="skill-box">                
                <div class="skill-title">Grunt image compression
                </div>
                <div class="skillbar  clearfix " data-percent="85%">
                  <div class="skillbar-bar"></div>
                  <div class="skill-bar-percent">85%</div>
                </div>                
              </div>              
            </div>

          

            <div class="col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s">
              <div class="skill-box">                
                <div class="skill-title">BEM (CSS naming convention)</div>
                <div class="skillbar  clearfix " data-percent="90%">
                  <div class="skillbar-bar"></div>
                  <div class="skill-bar-percent">90%</div>
                </div>                
              </div>              
            </div>

             <div class="col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.1s">
              <div class="skill-box">                
                <div class="skill-title">Code Versioning Tool (GIT)</div>
                <div class="skillbar  clearfix " data-percent="80%">
                  <div class="skillbar-bar"></div>
                  <div class="skill-bar-percent">80%</div>
                </div>                
              </div>              
            </div>



             <div class="col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.2s">
              <div class="skill-box">                
                <div class="skill-title">Media Queries</div>
                <div class="skillbar  clearfix " data-percent="95%">
                  <div class="skillbar-bar"></div>
                  <div class="skill-bar-percent">95%</div>
                </div>                
              </div>              
            </div>

             <div class="col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.4s">
              <div class="skill-box">                
                <div class="skill-title">Pixel Perfection</div>
                <div class="skillbar  clearfix " data-percent="95%">
                  <div class="skillbar-bar"></div>
                  <div class="skill-bar-percent">95%</div>
                </div>                
              </div>              
            </div>


            <div class="col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.6s">
              <div class="skill-box">                
                <div class="skill-title">Cross Browser / Device Compatibility</div>
                <div class="skillbar  clearfix " data-percent="95%">
                  <div class="skillbar-bar"></div>
                  <div class="skill-bar-percent">95%</div>
                </div>                
              </div>              
            </div>

            <div class="col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.8s">
              <div class="skill-box">                
                <div class="skill-title">Bug Fixing / Problems Solving</div>
                <div class="skillbar  clearfix " data-percent="95%">
                  <div class="skillbar-bar"></div>
                  <div class="skill-bar-percent">95%</div>
                </div>                
              </div>              
            </div>


            <div class="col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="3s">
              <div class="skill-box">                
                <div class="skill-title">Adobe Photoshop CC</div>
                <div class="skillbar  clearfix " data-percent="99%">
                  <div class="skillbar-bar"></div>
                  <div class="skill-bar-percent">99%</div>
                </div>                
              </div>              
            </div>
            <div class="col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="3.2s">
              <div class="skill-box">                
                <div class="skill-title">Adobe Illustrator CC</div>
                <div class="skillbar  clearfix " data-percent="85%">
                  <div class="skillbar-bar"></div>
                  <div class="skill-bar-percent">85%</div>
                </div>                
              </div>              
            </div>

           
          </div>
        </div><!--end of container-->
      </section>
