<section class="section portfolio-section">

	<!-- <div class="is-animated__single">
          <h1 class="wow fadeInDown" data-wow-duration="3s" data-wow-delay="0.3s">Portfolio</h1>        
        </div> -->

	<div class="text-reveal">
		<h1>Portfolio</h1>
	</div>




	<div class="portfolio">

		<div class="portfolio__item">
			<div class="row d-flex flex-row-reverse">
				<div class="col-md-6">
					<div class="portfolio__circle portfolio__circle--a1est wow fadeInRight" data-wow-duration="2s"
						data-wow-delay="0.3s"></div>
					<figure class="portfolio__img-holder portfolio__img-holder--yellow">
						<img src="assets/images/a1estimation.jpg">
					</figure>
				</div>
				<div class="col-md-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
					<figcaption class="portfolio__caption">
						<h2 class="portfolio__caption-title">
							A1estimation
						</h2>
						<a href="https://www.a1est.com" class="link__button cursor-link" target="_blank">
							<span>Live Preview</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>

					</figcaption>
				</div>
			</div>
		</div>



		<div class="portfolio__item">
			<div class="row">
				<div class="col-md-6">
					<div class="portfolio__circle portfolio__circle--blue wow fadeInLeft" data-wow-duration="2s"
						data-wow-delay="0.4s"></div>
					<figure class="portfolio__img-holder">
						<img src="assets/images/abudhabi-chamber.jpg">
					</figure>
				</div>
				<div class="col-md-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
					<figcaption class="portfolio__caption">
						<h2 class="portfolio__caption-title">
							Abu Dhabi Chamber of Commerce
						</h2>
						<a href="https://www.abudhabichamber.ae" class="link__button cursor-link" target="_blank">
							<span>Live Preview</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>
					</figcaption>
				</div>
			</div>
		</div>

		<div class="portfolio__item">
			<div class="row d-flex flex-row-reverse">
				<div class="col-md-6">
					<div class="portfolio__circle portfolio__circle--yellow wow fadeInRight" data-wow-duration="2s"
						data-wow-delay="0.5s"></div>
					<figure class="portfolio__img-holder portfolio__img-holder--yellow">
						<img src="assets/images/sharjah-events.jpg">
					</figure>
				</div>
				<div class="col-md-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.5s">
					<figcaption class="portfolio__caption">
						<h2 class="portfolio__caption-title">
							Sharjah Events
						</h2>
						<a href="https://www.sharjahevents.ae" class="link__button cursor-link" target="_blank">
							<span>Live Preview</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>

					</figcaption>
				</div>
			</div>
		</div>

		<div class="portfolio__item">
			<div class="row">
				<div class="col-md-6">
					<div class="portfolio__circle portfolio__circle--red wow fadeInLeft" data-wow-duration="2s"
						data-wow-delay="0.6s"></div>
					<figure class="portfolio__img-holder">
						<img src="assets/images/muslim-council.jpg">
					</figure>
				</div>
				<div class="col-md-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
					<figcaption class="portfolio__caption ">
						<h2 class="portfolio__caption-title">
							Muslim Council of Elders
						</h2>
						<a href="https://www.muslim-elders.com" class="link__button cursor-link" target="_blank">
							<span>Live Preview</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>

					</figcaption>
				</div>
			</div>
		</div>
	</div>



	<!-- <div class="wow fadeIn portfolio__item sliding-underline-link " data-wow-duration="3s" data-wow-delay="0.5s">
        	<h2 class="title">Abu Dhabi Chamber </h2>
	        <a href="http://www.abudhabichamber.ae" class="cta cursor-link" target="_blank">
	          <span>Live Preview</span>
	          <svg width="13px" height="10px" viewBox="0 0 13 10">
	            <path d="M1,5 L11,5"></path>
	            <polyline points="8 1 12 5 8 9"></polyline>
	          </svg>
	        </a>	        	
        </div>

        <div class="wow fadeIn portfolio__item sliding-underline-link" data-wow-duration="3s" data-wow-delay="0.7s">
        	<h2 class="title">Sharjah Events </h2>
	        <a href="http://www.abudhabichamber.ae" class="cta cursor-link" target="_blank">
	          <span>Live Preview</span>
	          <svg width="13px" height="10px" viewBox="0 0 13 10">
	            <path d="M1,5 L11,5"></path>
	            <polyline points="8 1 12 5 8 9"></polyline>
	          </svg>
	        </a>	   	
        </div>

         <div class="wow fadeIn portfolio__item sliding-underline-link" data-wow-duration="3s" data-wow-delay="0.9s">
        	<h2 class="title">Sharjah Events </h2>
	        <a routerLink='/skills' class="cta cursor-link">
	          <span>Live Preview</span>
	          <svg width="13px" height="10px" viewBox="0 0 13 10">
	            <path d="M1,5 L11,5"></path>
	            <polyline points="8 1 12 5 8 9"></polyline>
	          </svg>
	        </a>	   	
        </div> -->
</section>