@import "../../assets/scss/variables", "../../assets/scss/mixins", "../../assets/scss/layout",
  "../../assets/scss/ui-elements";

.portfolio-section {
  padding: 100px 0 0 0;

  .text-reveal {
    margin-left: 100px;
    @include breakpoint(sm) {
      margin-left: 30px;
    }
  }
}

.portfolio {
  width: 100%;
  padding: 100px 0 0 0;

  @include breakpoint(sm) {
    padding: 0;
  }

  &__item {
    position: relative;
    margin-bottom: 250px;

    @include breakpoint(sm) {
      margin-bottom: 100px;
      width: 100%;
      overflow: hidden;
      padding-top: 50px;
    }
  }
  &__img-holder {
    position: relative;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
    height: 550px;
    margin-bottom: 0;

    @include breakpoint(lp) {
      height: 400px;
    }
    @include breakpoint(sm) {
      height: 200px;
      right: 50px;
      margin-bottom: 70px;
    }
    img {
      width: 100%;
    }
  }
  &__img-holder--yellow {
    @include breakpoint(sm) {
      left: 50px;
    }
  }
  &__circle {
    height: 750px;
    width: 750px;
    border-radius: 50%;
    position: absolute;
    right: -20px;
    top: -100px;

    @include breakpoint(lp) {
      height: 600px;
      width: 600px;
    }

    @include breakpoint(sm) {
      height: 300px;
      width: 300px;
      right: 50px;
      top: -50px;
    }
  }
  &__circle--blue {
    background: #3454d1;
  }
  &__circle--yellow {
    background: #faa916;
    left: -20px;

    @include breakpoint(sm) {
      left: 50px;
    }
  }
  &__circle--a1est {
    background: #2b2d42;
    left: -20px;

    @include breakpoint(sm) {
      left: 50px;
    }
  }

  &__circle--red {
    background: #fe4a49;
  }


  &__caption {
    margin-left: 50px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 50px;

    @include breakpoint(sm) {
      margin-left: 30px;
      height: auto;
      padding: 0;
    }
    @include breakpoint(lp) {
      height: 400px;
    }
  }
  &__caption-title {
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 40px;
    color: $white-color;

    @include breakpoint(sm) {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 20px;
    }
  }
}
