<app-header></app-header>

<main class="main-wrap">
  <router-outlet  (activate)="onActivate($event)"></router-outlet>

    <div class="cursor cursor-shadow"></div>
	<div class="cursor cursor-dot"></div>

<!-- <ngx-ui-loader></ngx-ui-loader> -->

<!-- <ngx-spinner
  bdColor="#011627"
  size="medium"
  color="#f83600"
  type="ball-scale-multiple">
 
</ngx-spinner>
 -->


  
 <!--  <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles> -->
</main>
