@import
  '../../assets/scss/variables',
  '../../assets/scss/mixins',  
  '../../assets/scss/layout',
  '../../assets/scss/ui-elements';


.articles{
	
	&__item{
		padding-bottom:70px;
		margin-bottom:50px;
	}
	&__title{
		color:$white-color;
		font-size:30px;
		font-wight:400;
		padding-bottom:40px;
		display:block;
		&:hover{
			color:$brand-color;
		}
	}
}