      <section class="section">
        <div class="articles" id="articles">
          <div class="text-reveal">
            <h1>Articles</h1>
          </div>

          <article class="articles__item sliding-underline-link">
          	<a routerLink='/articles/code-tag-not-working-in-angular-html-template' class="articles__title">
          		Code tag is not working in angular html template
          	</a>

      			<a routerLink='/articles/code-tag-not-working-in-angular-html-template' class="link__button cursor-link">
      				<span>Read full article</span>
      				<svg width="13px" height="10px" viewBox="0 0 13 10">
      					<path d="M1,5 L11,5"></path>
      					<polyline points="8 1 12 5 8 9"></polyline>
      				</svg>
      			</a>
          </article>

          <article class="articles__item sliding-underline-link">
            <a routerLink='/articles/code-tag-not-working-in-angular-html-template' class="articles__title">
              Helpful Sass mixins
            </a>

            <a routerLink='/articles/code-tag-not-working-in-angular-html-template' class="link__button cursor-link">
              <span>Read full article</span>
              <svg width="13px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
              </svg>
            </a>
          </article>






           
        
        </div>
      </section>
