<section class="section portfolio-section">

  	<div class="text-reveal">
        <h1>Experience</h1>
    </div>


    <ul class="timeline timeline-centered">
        <li class="timeline-item">
            <div class="timeline-info">
                <span>September 2017 - Present</span>
            </div>
            <div class="timeline-marker"></div>
            <div class="timeline-content">
                <h3 class="timeline-title">Spica Software</h3>
                <span class="location">Sharjah, UAE</span>
                <p>Front End Developer</p>
            </div>
        </li>

        <li class="timeline-item">
            <div class="timeline-info">
                <span>September 2016 - August 2017</span>
            </div>
            <div class="timeline-marker"></div>
            <div class="timeline-content">
                <h3 class="timeline-title">Goodhope General Trading</h3>
                <span class="location">Dubai, UAE</span>
                <p>Front End Developer / UI Designer </p>
            </div>
        </li>

        <li class="timeline-item">
            <div class="timeline-info">
                <span>December 2014 - May 2016</span>
            </div>
            <div class="timeline-marker"></div>
            <div class="timeline-content">
                <h3 class="timeline-title">Putitout PVT Ltd</h3>
                <span class="location">Lahore, Pakistan</span>
                <p>Front End Developer / UI Designer </p>
            </div>
        </li>

        <li class="timeline-item">
            <div class="timeline-info">
                <span>November 2012 - August 2014</span>
            </div>
            <div class="timeline-marker"></div>
            <div class="timeline-content">
                <h3 class="timeline-title">Smartrix Technologies</h3>
                <span class="location">Lahore, Pakistan</span>
                <p>Web Designer  </p>
            </div>
        </li>

        <li class="timeline-item">
            <div class="timeline-info">
                <span>January 2012 - October 2012</span>
            </div>
            <div class="timeline-marker"></div>
            <div class="timeline-content">
                <h3 class="timeline-title">4Dee Technologies</h3>
                <span class="location">Lahore, Pakistan</span>
                <p>Web Designer  </p>
            </div>
        </li>

        <li class="timeline-item">
            <div class="timeline-info">
                <span>September 2010 - December 2011</span>
            </div>
            <div class="timeline-marker"></div>
            <div class="timeline-content">
                <h3 class="timeline-title">Mars Multimedia PVT Ltd</h3>
                <span class="location">Lahore, Pakistan</span>
                <p>Web Designer  </p>
            </div>
        </li>		
    </ul>

    

    <a href="assets/resume/resume.pdf"  class="link__button cursor-link" target="_blank">
      <span>Download Resume </span>
      <svg width="13px" height="10px" viewBox="0 0 13 10">
        <path d="M1,5 L11,5"></path>
        <polyline points="8 1 12 5 8 9"></polyline>
      </svg>
    </a>

</section>