@import
  '../../assets/scss/variables',
  '../../assets/scss/mixins',  
  '../../assets/scss/layout',
  '../../assets/scss/ui-elements';


  .timeline-item {
    padding-left: 40px;
    position: relative;
    &:last-child {
        padding-bottom: 0;
    }
  }
  .timeline-centered {
    @include breakpoint(lg){
      .timeline-item,
      .timeline-info,
      .timeline-marker,
      .timeline-content {
          display: block;
          margin: 0;
          padding: 0;
      }
      .timeline-item {
          padding-bottom: 50px;
          overflow: hidden;
      }
      .timeline-marker {
          position: absolute;
          left: 50%;
          margin-left: -7.5px;
      }
      .timeline-info {
          width: 50%;
          color:$brand-color;
      }
      
      .timeline-content {
          width: 50%;
          color:$white-color;
      }
      .timeline-item:nth-child(odd) .timeline-info {
          float: left;
          text-align: right;
          padding-right: 30px;
      }
      .timeline-item:nth-child(odd) .timeline-content {
          float: right;
          text-align: left;
          padding-left: 30px;
      }    
      .timeline-item:nth-child(even) .timeline-info {
          float: right;
          text-align: left;
          padding-left: 30px;
      }
      .timeline-item:nth-child(even) .timeline-content {
          float: left;
          text-align: right;
          padding-right: 30px;
      }
     .timeline-item.period .timeline-content {
          float: none;
          padding: 0;
          width: 100%;
          text-align: center;
      }
      .timeline-item.period {
          padding: 50px 0 90px;
      }
    }
  }
  
  .timeline-marker {
    position: absolute;
    top: 0; 
    bottom: 0; 
    left: 0;
    width: 15px;
  
    &:before {
      background: $brand-color;
      border: 3px solid transparent;
      border-radius: 100%;
      content: "";
      display: block;
      height: 15px;
      position: absolute;
      top: 4px; 
      left: 0;
      width: 15px;
      transition: background 0.3s ease-in-out,
              border 0.3s ease-in-out;
    }
    &:after {
      content: "";
      width: 3px;
      background: #CCD5DB;
      display: block;
      position: absolute;
      top: 24px; 
      bottom: 0; 
      left: 6px;
    }
    .timeline-item:last-child &:after {
      content: none;
    }
  }
  /* .timeline-item:not(.period):hover .timeline-marker:before {
    background: transparent;
    border: 3px solid #FF6B6B;
  } */
  
  .timeline-content {
    padding-bottom: 40px;
    color:$white-color;
    p:last-child {
      margin-bottom: 0;
    }
    .timeline-title{
      margin-bottom: 5px;
      font-size: 20px;
    }
    .location{
      margin-bottom: 10px;
      display: block;
      font-size: 15px;
    }
  }

  .timeline-info{
    color:$brand-color;
    margin-bottom: 10px;
  }
