@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/animate.css/animate.css";

$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome";

@import "assets/scss/reset", /* 'assets/scss/typography', */ "assets/scss/variables", "assets/scss/mixins",
  "assets/scss/layout", "assets/scss/ui-elements";

body {
  font-family: $font-primary-en;
  background: #011627;
  overflow-x: hidden;
  letter-spacing: 3px;
}

.wow {
  visibility: hidden;
}

section {
  padding: 100px;
  position: relative;

  @include breakpoint(sm) {
    padding: 100px 30px;
  }
  h1 {
    color: $white-color;
    font-size: 75px;
    margin-bottom: 65px;
    font-weight: 400;

    @include breakpoint(sm) {
      font-size: 42px;
    }
  }

  &:before {
    position: absolute;
    content: "";
    border-radius: 50%;
    border: 30px solid rgba(248, 54, 255, 0.1);
    width: 450px;
    height: 450px;
    top: -200px;
    left: -100px;

    opacity: 0;
    animation: fadeInLeft 2.9s ease forwards;
    animation-delay: 0.1s;

    @include breakpoint(sm) {
      top: -250px;
      left: -175px;
    }
  }

  .text-reveal {
    margin-bottom: 65px;
  }
}

.cursor {
  --size: 8px;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  position: absolute;
  z-index: 10000;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.cursor.cursor-shadow {
  background-color: transparent;
  border: 2px solid $brand-color;
  --size: 40px;
  transition: top 0.2s, left 0.2s, width 0.2s, height 0.2s, background-color 0.2s, border-color 0.2s;
  transition-timing-function: ease-out;
  @include breakpoint(sm) {    
    --size:0;
    border: 0;
  }
}
.cursor.cursor-dot {
  background: $white-color;
  transition: width 0.2s, height 0.2s;
  @include breakpoint(sm) {    
    background: none;
  }
}
.cursor-shadow.active {
  --size: 80px;
  border: 2px solid $brand-color;

  @include breakpoint(sm) {
    border-color: rgba(255, 255, 255, 0);
    background-color: rgba($brand-color, 0.1);
    --size:0;
  }
}
.cursor-dot.active {
  --size: 0;
}

pre {
  clear: both;
  color: $brand-third-color;
  background: $white-color;
  padding: 0;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -ms-word-break: normal;
  word-break: normal;
  word-break: normal;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  letter-spacing: 0;
  position: relative;
  line-height: 28px;
  border-radius: 5px;
  min-width: 100px;
  max-width: 100%;
  overflow: hidden;
  margin: 40px 0 40px 0;

  &:before {
    font-size: 20px;
    content: attr(data);
    color: $brand-third-color;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 100%;
    padding: 0;
    font-weight: 900;
  }
}

pre code {
  font-size: 16px;
  line-height: 1.75;
  background: 0;
  padding: 0 40px;
  white-space: pre;
  display: block;
  width: 100%;
}
